body { background: #41e594; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 55px; display: flex; }
.block-email-0 { color: #75e974; font-size: 14px; margin-bottom: 5px; }
.block-validator-1 { color: #a38a42; font-size: 17px; margin-bottom: 5px; }
.block-cluster-2 { color: #96d4ea; font-size: 17px; margin-bottom: 5px; }
.block-shipping-3 { color: #98b3c1; font-size: 15px; margin-bottom: 5px; }
.block-config-4 { color: #8b76f; font-size: 20px; margin-bottom: 5px; }
.block-notify-5 { color: #ef7e06; font-size: 14px; margin-bottom: 5px; }